%header
  %h1.logo
  #NowPlaying Now Playing

%section.roomInfo
  #name Neo Music Room
  %a#leaveRoom Leave Room
  #roomTotal 12 People Here
  .userInfo
    #avatar
    #name Mike Danko
  .userInfo
    #avatar
    #name Sean Knox
  .userInfo
    #avatar
    #name Derek Briggs