@import "clear"
body
  font-family: lucida grande

header
  width: 100%
  background: #2e2f2f
  height: 100px

.logo
  float: right
  display: block
  background: url(/assets/logo@2x.png)
  width: 164px
  height: 54px
  background-size: 100%
  margin: 24px 16px 0 0

#NowPlaying
  color: #e45431
  width: 24px