@import "bourbon"
@import "clear"

$text-shadow: 0 2px 2px rgba(0,0,0,.4)
$text-shadow-inset: 0 -1px 0 rgba(0, 0, 0, .6)

::-webkit-scrollbar
  background: rgba(0,0,0,0)
  width: 0
::-webkit-scrollbar-track
  background: rgba(0,0,0,0)
::-webkit-scrollbar-thumb
  background: rgba(0,0,0,0)
::-webkit-scrollbar-button
  background: rgba(0,0,0,0)
::-webkit-scrollbar-corner
  background: rgba(0,0,0,0)

body, html
  height: 100%
  +transition (all .3s ease-in-out)
  scrollbar-face-color: rgba(0,0,0,0)

body
  font-family: lucida grande
  background: #22201f

header
  z-index: 1000
  position: fixed
  width: 100%
  background: #2e2f2f
  padding: 20px
  +box-shadow (0 2px 6px rgba(0,0,0,.4))

header.expanded
  z-index: 1000
  position: fixed
  bottom: 0
  width: 100%
  background: #2e2f2f
  padding: 0 0 20px 0
  +transition (all .3s ease-in)
  +box-shadow (0 2px 6px rgba(0,0,0,.4))

input[type="search"]::-webkit-search-cancel-button
  -webkit-appearance: none

input[type="search"], textarea, input[type="search"]
  +appearance (none)
  color: #cdcdcd
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4)
  width: 100%
  box-sizing: border-box
  display: block
  margin: auto
  margin-bottom: 20px
  border: none
  box-shadow: none
  padding: 20px
  text-align: center
  background: rgba(0,0,0,.2)
  font-weight: bold
  font-size: 14px
  +transition (all .3s ease-in)
  +box-shadow (0 1px 0 rgba(255, 255, 255, 0.05), inset 0 1px 2px rgba(0, 0, 0, 0.3))
  overflow: hidden
  opacity: 0
  border-radius: 0

  &:focus
    outline: none
    background: rgba(0,0,0,.2)
    font-weight: bold

  &::-webkit-input-placeholder
    color: #515151
  &::-moz-placeholder
    color: #515151
  &:-ms-input-placeholder 
    color: #515151
  &:-moz-placeholder
    color: #515151

.search
  +transition (all .3s ease-in)
  height: 0

  input
    padding: 0
    height: 0

.search-open
  height: 80px

.show-search
  opacity: 1

  input
    opacity: 1
    height: 60px

.search-results
  height: 0
  opacity: 0
  background: rgba(0,0,0,.3)
  padding: 20px 0 175px 0
  overflow: scroll
  position: absolute
  width: 100%

  .queue
    margin-left: 40px
    margin-top: 0
    border-bottom: 20px
    +box-shadow (none)

    .info
      width: 70%

.search-results-open
  height: 100%

.show-search-results
  opacity: 1
  +transition (all .3s ease-in)

.close-arrow
  float: right
  display: block
  background: image-url('close-arrow@2x.png')
  width: 32px
  height: 43px
  background-size: 100%
  margin: 18px 40px 0 0
  +animation (bounce .8s linear infinite)

  &.hide
    display: none

+keyframes(bounce)
  0%
    +transform(translateY(0px))
  25%
    +transform(translateY(2px))
  50%
    +transform(translateY(0px))
  75%
    +transform(translateY(-2px))
  100%
    +transform(translateY(0px))


.logo
  float: right
  display: block
  background: image-url('logo@2x.png')
  width: 164px
  height: 54px
  background-size: 100%
  margin: 17px 40px 0 0

  &.hide
    display: none

  &:hover
    +animation (tada 1s linear 1)

#nowPlaying
  margin-left: 40px

  .rating
    display: inline-block
    vertical-align: top
    margin: 24px 20px 0 0
    float: none

  .info
    margin: 7px 0 0 0

.likes
  font-size: 14px
  color: #e5572c
  font-weight: bold
  text-shadow: $text-shadow
  display: inline-block
  vertical-align: top
  margin: 22px 20px 0 20px
  width: 60px
  line-height: 1.2
  text-align: center
  text-transform: uppercase

.currentTrack
  font-size: 14px
  color: #e5572c
  font-weight: bold
  text-shadow: $text-shadow
  display: inline-block
  vertical-align: top
  margin: 22px 20px 0 0
  width: 60px
  line-height: 1.2
  text-align: center
  text-transform: uppercase

.coverArt
  margin: 0 14px 0 0
  width: 75px
  height: 75px
  background: #a7a7a7
  display: inline-block
  vertical-align: top
  border-radius: 4px
  +box-shadow (0 1px 3px rgba(0,0,0,.4))

.info
  display: inline-block
  vertical-align: top
  margin: 7px 40px 0 0 
  width: 35%

  div
    margin-bottom: 6px

    &:last-child
      margin-bottom: 0

#track
  font-size: 14px
  font-weight: bold
  color: #cdcdcd
  text-shadow: $text-shadow
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  padding-bottom: 4px

#album
  color: #a7a7a7
  font-size: 14px
  text-shadow: $text-shadow
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  padding-bottom: 4px

#artist
  color: #cdcdcd
  font-size: 14px
  text-shadow: $text-shadow
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  padding-bottom: 4px

.rating
  display: inline-block
  vertical-align: top
  margin: 24px 40px 0 0
  float: right

.thumbsDown
  background: image-url('thumbs-down@2x.png')
  width: 24px
  height: 25px
  background-size: 100%
  display: inline-block
  vertical-align: top
  margin-right: 6px

.thumbsDown.selected
  background: image-url('thumbs-down-glow@2x.png')
  width: 24px
  height: 24px
  background-size: 100%
  display: inline-block
  vertical-align: top
  margin-right: 6px
  +animation (tada 1s linear 1)

.thumbsUp
  background: image-url('thumbs-up@2x.png')
  width: 24px
  height: 25px
  background-size: 100%
  display: inline-block
  vertical-align: top

.thumbsUp.selected
  background: image-url('thumbs-up-glow@2x.png')
  width: 24px
  height: 24px
  background-size: 100%
  display: inline-block
  vertical-align: top
  +animation (tada 1s linear 1)

+keyframes(tada)
  0%
    -webkit-transform: scale(1)
  10%, 20%
    -webkit-transform: scale(0.8) rotate(-6deg)
  30%, 50%, 70%, 90%
    -webkit-transform: scale(1.1) rotate(6deg)
  40%, 60%, 80%
    -webkit-transform: scale(1.1) rotate(-6deg)
  100%
    -webkit-transform: scale(1) rotate(0)

.room-container
  +transition (all .3s ease-in)

.room
  position: relative
  top: 115px
  width: 100%
  height: 100%

.room-search
  position: relative
  top: 291px
  width: 100%
  height: 100%

section.playlist
  position: absolute
  top: 0
  right: 0
  bottom: 0
  overflow: scroll
  overflow-x: hidden
  -webkit-overflow-scrolling: touch
  text-shadow: $text-shadow
  width: 65%

.search-in-queue
  font-size: 14px
  font-weight: bold
  color: #cdcdcd
  text-shadow: $text-shadow
  text-align: center
  padding: 20px 0
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05)

.history
  font-size: 14px
  font-weight: bold
  color: #515151
  text-shadow: $text-shadow
  text-align: center
  padding: 10px 0
  background: rgba(0, 0, 0, 0.2)
  +box-shadow (0 1px 0 rgba(255, 255, 255, 0.05), inset 0 1px 0 rgba(0, 0, 0, 0.4))
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)

.queue
  margin-top: 20px
  padding-bottom: 20px
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  +box-shadow (0 1px 0 rgba(255, 255, 255, 0.05))

  &.recentlyPlayed
    opacity: .3
    +box-shadow (0 1px 0 rgba(255, 255, 255, 0.18))
    border-bottom: 1px solid rgba(0, 0, 0, 0.7)

.room-info-toggle
  padding: 10px 0 10px 0
  font-size: 14px
  font-weight: bold
  color: #cdcdcd
  text-shadow: $text-shadow-inset
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1)))
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%)
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%)
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%)
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%)
  text-align: center
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  display: none

section.roomInfo
  text-shadow: $text-shadow
  overflow-x: hidden
  position: absolute
  top: 0
  left: 0
  bottom: 0
  overflow: scroll
  padding: 20px 40px 0 40px
  background: rgba(0,0,0,.2)
  -webkit-overflow-scrolling: touch
  width: 35%
  +transition (all .3s ease-in)
  +box-shadow (1px 0 0 rgba(255, 255, 255, 0.05), inset -1px 0 4px rgba(0,0,0,.3))

  
hr
  width: 100%
  height: 1px
  background-color: rgba(0, 0, 0, 0.2)
  border: none
  +box-shadow (0 1px 0 rgba(255, 255, 255, 0.05))
  margin-bottom: 20px

#name
  color: #cdcdcd
  font-size: 30px
  font-weight: bold
  margin-bottom: 4px
  margin-left: -1px

#leaveRoom
  color: #626262
  font-size: 12px
  margin-bottom: 20px
  font-weight: bold

#roomTotal
  font-size: 14px
  color: #929292
  margin-bottom: 14px
  font-weight: bold

.userInfo
  font-size: 14px
  color: #cdcdcd
  font-weight: bold
  margin-bottom: 20px

#avatar
  width: 50px
  height: 50px
  background: #a7a7a7
  display: inline-block
  border-radius: 4px
  +box-shadow (0 1px 3px rgba(0,0,0,.4))
  margin-right: 23px

#person
  display: inline-block
  vertical-align: top
  margin-top: 18px
  width: 54%
  height: 18px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.theirRating
  width: 13px
  height: 13px
  float: right
  

  &#up
    background: image-url('theirRating-up.png')
    background-size: 100%
    margin-top: 18px


  &#down
    background: image-url('theirRating-down.png')
    background-size: 100%
    margin-top: 18px


@media screen and (max-width: 768px)

  .room-info-toggle
    display: block

  .likes
    margin: 22px 27px 0 27px

  section.roomInfo
    position: static
    text-shadow: $text-shadow
    padding: 0
    background: rgba(0,0,0,.2)
    width: 100%
    overflow: hidden
    +box-shadow (1px 0 0 rgba(255, 255, 255, 0.05), inset -1px 0 4px rgba(0,0,0,.3))
    +transition (all .3s ease-in)
    opacity: 0
    height: 0

    &.visible
      padding: 20px 40px 0 40px
      height: auto
      opacity: 1

  section.playlist
    text-shadow: $text-shadow
    width: 100%
    position: static

@media screen and (max-width: 606px)

  .logo
    background: image-url('logo-icon@2x.png')
    width: 44px
    height: 54px
    background-size: 100%
    margin: 12px 40px 0 0

  .info
    width: 32%

@media screen and (max-width: 520px)

  .coverArt
    display: none

  .search-results
    .queue
      margin-left: 94px

  section.roomInfo
    &.visible
      padding: 20px 20px 0 20px
      height: auto
      opacity: 1

  .likes
    margin: 22px 16px 0 18px

  .info
    width: 50%

  .logo
    margin: 12px 20px 0 0

  #nowPlaying
    margin-left: 20px

  .rating
    margin: 24px 20px 0 0

@media screen and (max-width: 440px)

  .likes
    display: none

  .info
    margin-left: 20px

  .search-results
    .queue
      margin-left: 0px



